---
---

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');

.post-content h1,h2,h3 {
    color: #423db0 !important;
}
.post-content body {
    background-color: #eeeeee;
    color: #000000 !important;
}

a {
    color: #423db0;
}

.page__footer {
    color: #423db0 !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch;
    margin: auto;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    /*display: contents;*/
  }

/* Navigation Menu */
nav {
    display: flex;
    margin-bottom: 30px; /* was 10, I wanted less */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d6fbb2;
    /*position: absolute; /* Moves it relative to the page */
    top: 30px; /* Adjust upward movement */
    max-width: 100;
    /*right: 100px; /* Adjust movement to the right */   
    a{flex: 1; 
        text-decoration: none; 
        color: inherit; 
        text-align: center;
        padding: 0.5em; 
        &:hover{border-bottom: 0.4em solid var(--color-accent);
            background-color: color-mix(in oklch, var(--color-accent), canvas 85%);}
        /* this also works outside a -> a:hover{border-bottom: 
            0.4em solid var(--color-accent);} */
    }
}

.current{
    border-bottom: 0.4em solid #d6fbb2;
}
:root{ /*pseudoclass (already built in)*/
    --color-accent: #d6fbb2;
    accent-color: var(--color-accent);
}
input, textarea, button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
    display:grid;
    grid-template-columns: auto 1fr;
    /*grid-template-columns: subgrid;*/
    /* grid-column: 1 / -1; */
    gap: 1em;
    input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-block: 10px 20px;
    height: 50px;
    }
    label{
        display:grid;
        /*grid-template-columns: subgrid;*/
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }
}
article{ /* not working? */
    grid-template-rows: subgrid;
    grid-row: span 3;
    &:h2{margin: 0;}
}
section{
    padding:5px;
}

/* .h0{
    font-weight: 150;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} */
h1, h2, h3{
    line-height: 1.1;
    text-wrap: balance;
    font-size: 20px;
    color: #423db0;
}
h1{
    font-size: 35px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    width: auto;
    text-align: center;
}
h2{
    font-size: 25px;
}
h4{
    margin: -10px;
    margin-top: 10px;
    padding-left: 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
p{
    margin: 8px;
}


/* path {
    transition: 100ms;
  } */
