@import "minimal-mistakes/skins/air";

$background-color: #eeeeee !default;
$accent-purple-color: #340080 !default;
$text-color: #000000 !default;
$muted-text-color: #9d85bc !default;
$primary-color: #d6fbb2 !default;
$border-color: mix(#fff, #9d85bc, 75%) !default;
$footer-background-color: #d6fbb2 !default;
$link-color: #340080 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.post-content h1,h2,h3,h4 {
    color: $accent-purple-color !important;
}
.post-content body {
    background-color: $background-color;
    color: $text-color !important;
}

a {
    color: $link-color;
}

.page__footer {
    color: #340080 !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}