
@import "minimal-mistakes/skins/air";

$background-color: #eeeeee !default;
$text-color: #340080 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: #bfff80 !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

body {
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $link-color;
}

.page__footer {
    color: #340080 !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}
